{% include "header.html" %}
{% from "security/macros.html" import render_errors, render_input %}
<link href="{{ url_for('static', filename='css/custom/login.css') }}" rel="stylesheet">

{% block body %}

<div class="container">

  {% include "messages.html" %}

  <center><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Hot Potato Logo"></center>

  <form class="form-signin" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
    <center><h2 class="form-signin-heading">Please sign in</h2></center>
    {{ login_user_form.hidden_tag() }}
    {{ render_errors(login_user_form.email, "text-center") }}
    {{ render_errors(login_user_form.password, "text-center") }}
    {{ render_errors(login_user_form.remember, "text-center") }}
    {{ render_input(login_user_form.email, "email", "Email address", "required", "autofocus") }}
    {{ render_input(login_user_form.password, "password", "Password", "required") }}
    <div class="checkbox">
      <label>
        <input type="checkbox" value="y" id="remember" name="remember"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" id="submit" type="submit" value="Login">Sign in</button>
  </form>

</div>

{% endblock %}
{% include "footer.html" %}
