  <body>
    <div class="container">
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Hot Potato 🔥🥔</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li {%- if request.path == "/" %} class="active"{% endif %}><a href="/">Home</a></li>
              <li {%- if request.path == "/servers" %} class="active"{% endif %}><a href="/servers">Servers</a></li>
              <li {%- if request.path == "/notifications" %} class="active"{% endif %}><a href="/notifications">Notifications</a></li>
              <li {%- if request.path == "/handover" %} class="active"{% endif %}><a href="/handover">Handover</a></li>
              <li {%- if request.path == "/message" %} class="active"{% endif %}><a href="/message">Send message</a></li>
              <li class="dropdown">
<!--                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Debug <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul> -->
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

              <li {%- if request.path == "/account" %} class="active"{% endif %} class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ current_user.name }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/account">Account Settings</a></li>
                  <li><a href="/change">Change Password</a></li>
                  <li><a href="/logout">Logout</a></li>
<!--                  <li><a href="#">Something else here</a></li> -->
<!--                  <li role="separator" class="divider"></li> -->
<!--                  <li class="dropdown-header">Nav header</li> -->
<!--                  <li><a href="#">Separated link</a></li> -->
<!--                  <li><a href="#">One more separated link</a></li> -->
                </ul>
              </li>

<!--              <li><a href="../navbar-static-top/">Static top</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
